.album-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15px;
  background-color: rgba(29, 185, 84, 0.1);
  border-radius: 10px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  height: 100%;
  width: 200px;
}

.album-card:hover {
  transform: translateY(-5px);
  background-color: rgba(29, 185, 84, 0.2);
}

.album-card a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  height: 100%;
  width: 180px;
  text-decoration: none;
  color: var(--color-text);
}

.album-card a:hover {
  transform: translateY(-5px);
  background-color: rgba(29, 185, 84, 0.1);
}

.album-card img {
  width: 160px;
  height: 160px;
  border-radius: 50%; /* Mantiene la imagen redonda */
  object-fit: cover;
}

.album-card div {
  width: 100%; /* Asegura que el contenedor del texto use todo el ancho */
  padding: 0 10px; /* Espacio para el texto */
}

.album-card h3 {
  margin: 0;
  font-size: 1rem;
  line-height: 1.2;
  /* Evita que textos largos se desborden */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 2.4em; /* Altura fija para 2 líneas */
}

.album-card p {
  margin: 0;
  color: var(--color-text-secondary);
  font-size: 0.9rem;
}

.album-img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}