.home-layout {
  display: flex;
  min-height: 100dvh;
}

.container-home {
  flex: 1;
  padding: 60px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos para el formulario de búsqueda */
.search-form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.search-form input {
  width: 100%;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  background-color: #282828;
  color: white;
  font-size: 16px;
}

.search-form button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: #1db954;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-form button:hover {
  background-color: #1ed760;
}

.list-artists {
  margin: 0;
  padding: 20px 0;
  list-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.button.favorite-tracks {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #1db954;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  transition: all 0.3s ease;
  position: fixed;
  top: 10px;
  left: 10px;
}

.button.favorite-tracks:hover {
  background-color: #1ed760;
  transform: scale(1.05);
}

.button.favorite-tracks i {
  font-size: 18px;
}