section {
  padding: 20px;
}

.list-albums {
  margin: 0;
  padding: 20px 0;
  list-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.volver {
  position: fixed;
  top: 10px;
  left: 10px;
  text-decoration: none;
  z-index: 2;
}